$brand-primary: #428bca;
$body-bg: #f0f3f4;
$state-success-text: #5cb85c;
$sp-homepage-bg: #fff;
$sp-navbar-divider-color: #81878e;
$text-color: #717171;
$sp-logo-margin-y: .5rem;
$navbar-inverse-link-hover-color: #ffffff;
$panel-bg: #fff;
$brand-success: #5cb85c;
$navbar-inverse-bg: #000000;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$sp-tagline-color: #717171;
$navbar-inverse-link-color: #bdc0c4;
$brand-info: #5bc0de;
$link-color: #428bca;
$sp-logo-margin-x: 15px;
$btn-default-bg: #fff;
$text-muted: #979797;
